.toastBar {
    position: absolute;
    top: 10.5em;
    left: 36rem;
    background-color: var(--successGreen);
    border: 1px solid var(--successGreenBorder);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
    padding: 12px 23px;
}

.toastMsg {
    color: var(--successGreenFont);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: bold;
}

.toastClose {
    color: var(--successGreenFont);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 17px;
    font-weight: 900;
    cursor: pointer;
}