@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


.submit{
    height: 44px;
    width: 130px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: none; 
    outline: none;
    cursor: pointer;

}

.btn{
    
    height: 24px;
    width: 75px;
    color: #0E85FF;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 24px;
    text-transform: uppercase;
} 


