.headerBar {
    position: absolute;
    left: 7.99rem;
    right: 0;
    top: -8px;
    background-color: #f5f7fb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5rem;
    
}

.headIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 1rem;

}

.pass_logo{
    height: 68px;
  width: 179px;
  margin-top: 31px;

}