
.box {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #F5F7FB;
}

.rectangle {
    display: flex;
    flex-direction: row;
    height: 481px;
    width: 839px;
    border-radius: 15px;
    background: linear-gradient(180deg, #20BBFF 0%, #0E85FF 100%);
    box-shadow: 0 8px 18px 10px rgba(0, 0, 0, 0.02);

}

@media only screen and (max-width: 375px) {
    .logo{
        height: 68px;
        width: 56.67px;
        transform: scaleY(-1);
        background-color: #FFFFFF;
        margin-top: 39px;
    }
}